.menu-items {
  display: block; /* Ensure menu items are always displayed */
  background-color: red;
}

.menu-toggle {
  display: none; /* Hide the toggle button by default */
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show the toggle button on medium devices */
  }

  .menu-items {
    display: none; /* Hide the menu items only on medium devices */
  }
}
